<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>品优购，修改密码</title>
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="/static/layui/css/layui.css">
	<script src="/static/layui/layui.all.js"></script>
	<style>
		body {
			font-size: 12px;
		}
		a {
			color:#999;
		}
		input {
			width:310px;
			border: 1px solid #ddd;
			padding: 15px 0 15px 15px;
		}
		.tip {
			color: red;
			font-size: 14px;
			display: block;
			margin-top: 5px;
		}
	</style>
</head>

<body>
	<div class="nav" style="background:#f0f0f0;">
		<div class="layui-container" style="height:30px;line-height: 30px;">
			<div class="layui-row">
					<div class="layui-col-md4">
						<div class="layui-col-md2">
							<i class="layui-icon">&#xe68e;</i>
							<a href="/homeIndex/index">首页</a>
						</div>
						<div class="layui-col-md6" style="color:#999;">
							<i class="layui-icon">&#xe715;</i>
							北京
						</div>
					</div>
					<div class="layui-col-md8">
						<div class="layui-col-md4">
							<div style="visibility:hidden;">品优购</div>
						</div>
						<div class="layui-col-md2">
							<a href="/homeLogin/index">你好，请登录</a>
							<a href="/homeRegister/index" style="color:red;">免费注册</a>
						</div>
						<div class="layui-col-md1">
							<a href="javaScript:;">我的订单</a>
						</div>
						<div class="layui-col-md1">
							<a href="javaScript:;" target="_blank">我的品优购</a>
						</div>
						<div class="layui-col-md1">
							<a href="javaScript:;">品优购会员</a>
						</div>
						<div class="layui-col-md1">
							<a href="javaScript:;">企业采购</a>
						</div>
						<div class="layui-col-md1">
							<a href="javaScript:;">关注品优购</a>
						</div>
						<div class="layui-col-md1">
							<a href="javaScript:;">网站导航</a>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="header" style="box-shadow: 2px 4px 6px #e0e0e0;">
		<div class="layui-container" style="height:110px;width:1200px;line-height:100px;margin: 0 auto;">
			<div class="layui-row">
				<div class="layui-col-md9">
					<div class="layui-col-md3">
						<img src="/static/img/logo.png" alt="" style="width:160px;height:50px;margin-top:24px;">
					</div>
					<div class="layui-col-md2" style="font-size:24px;height: 34px;line-height: 34px;margin-top: 45px;margin-left:-30px;color:#333;">
						找回密码
					</div>
				</div>
				<div class="layui-col-md3">
				</div>
			</div>
		</div>
	</div>
	<!-- 内容 -->
	<div class="container" style="width:310px;margin: 65px auto 0;color:#333;">
		<form action="">
			{:token('__token__', 'sha1')}
			<input type="password" name="password" onfocus="ps(repassword)" onblur="b(password)" placeholder="新密码" style="color:#999;height:17px;line-height: 20px;">
			<input type="password" name="repassword" onfocus="ps(repassword)" onblur="b(repassword)" placeholder="确认新密码" style="color:#999;height:17px;line-height: 20px;margin-top: 20px;">
			<span class="tip"></span>
			<!-- 滑块验证 -->
			<input type="button" value="确认修改" style="width:327px;height:50px;margin-top: 30px;background: #c81623;opacity: .5;color: #fff;font-size: 14px;">
		</form>
	</div>
</body>

</html>
<script src="/static/js/plugins/jquery/jquery.min.js"></script>
<script>
	//  密码
	//  获取焦点删除提示
	function ps(o)
	{
		var tip = $(o).next()[0];
		tip.innerHTML = '';
	}
	//  失去焦点
	function b(password)
    {
        if(password.name == 'password' || password.name == 'repassword')
        {
            var repassword = (password.name == 'password') ? 'repassword' : 'password';
            password = $('input[name=password]');
            repassword = $('input[name=repassword]');
            if(password.val() == '')
            {
                return ;
            }
            if(repassword.val() != '')
            {
                if(repassword.val() != password.val())
                {
					var tip = repassword.next()[0];
					tip.innerHTML = '两次密码不一致,请重新输入';	
                }
            }
        }
	}
	
	$('input[type=button]').click(function(){
		//  获取新密码
		var password = $('input[name=password]').val();
		if(password == '')
		{
			var tip = $('input[name=repassword]').next()[0];
			tip.innerHTML = '密码不能为空！';
			return ;
		}
		$.ajax({
			url:'/homeLogin/SetPassword',
			type:'post',
			data:{login_pwd:password},
			success:function(data)
			{
				if(data.status == 200)
					location.href = '/homeLogin/index';
			}
		});
	});	
</script>
<script>
	;!function(){
		var layer = layui.layer
		,form = layui.form
		,element = layui.element;
		
	}();
</script>