<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>我的购物车</title>

	<link rel="stylesheet" type="text/css" href="/static/css/webbase.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/pages-cart.css" />
	<link rel="stylesheet" href="/static/layui/css/layui.css">
	<script src="/static/layui/layui.all.js"></script>
	<style>
		a.increment {
			width: 24px;
			padding: 2.4px;
		}
		a {
			color:#666;
			font-size: 12px;
		}
		.w {
			width: 990px;
			margin: 0 auto;
		}
		.mb10,.mr10 {
			margin-bottom: 10px;
		}
		.cart-empty {
			height: 98px;
			padding: 80px 0 120px;
			color: #333;
		}
		.cart-empty .message {
			height: 98px;
			padding-left: 341px;
			background: url('/static/css/cart.png') 250px 22px no-repeat;
		}
		.cart-empty .message ul {
			padding-top: 23px;
			list-style: none;
		}
		.cart-empty .message .txt {
			font-size: 14px;
		}
		.cart-empty .message li {
			line-height: 26px;
		}
		.btn-1 {
			font-family: arial,"Microsoft YaHei";
			display: inline-block;
			height: 25px;
			line-height: 25px;
			background: #e74649;
			background-image: linear-gradient(to top,#e74649 0,#df3134 100%);
			border-radius: 3px;
			color: #fff;
			font-size: 12px;
			font-weight: 400;
			padding: 0 10px;
			vertical-align: middle;
			cursor: pointer;
			border: 0;
			float: none;
			transition: all .2s ease-out;
		}
		.ftx-05 {
			color: #005ea7;
		}
	</style>
</head>

<body>
	<!--head-->
	<div class="top">
		<div class="py-container">
			<div class="shortcut">
				<ul class="fl">
					<li class="f-item">品优购欢迎您！</li>
					{if(session('?home_id'))}
					<li class="f-item">
						<a href="/homeUser/SetInfo">
							<?=session('login_name')?></a>
					</li>
					{else /}
					<li class="f-item">
						请
						<a href="/homeLogin/index" target="_blank">登录</a>　
						<span>
							<a href="/homeRegister/index" target="_blank">免费注册</a>
						</span>
					</li>
					{/if}
				</ul>
				<ul class="fr">
					<li class="f-item"><a href="/homeUser/index" target="_blank">我的订单</a></li>
					<li class="f-item space"></li>
					<li class="f-item">
						<a href="/homeIndex/index" target="_blank">我的品优购</a>
					</li>
					<li class="f-item space"></li>
					<li class="f-item">品优购会员</li>
					<li class="f-item space"></li>
					<li class="f-item">企业采购</li>
					<li class="f-item space"></li>
					<li class="f-item">关注品优购</li>
					<li class="f-item space"></li>
					<li class="f-item">客户服务</li>
					<li class="f-item space"></li>
					<li class="f-item">网站导航</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cart py-container">
		<!--logoArea-->
		<div class="logoArea">
			<div class="fl logo"><span class="title">购物车</span></div>
			<div class="fr search">
				<form class="sui-form form-inline">
					<div class="input-append">
						<input type="text" type="text" class="input-error input-xxlarge" placeholder="品优购自营" />
						<button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
					</div>
				</form>
			</div>
		</div>
		<!--All goods-->
		{if(isset($data) != null)}
		<div class="allgoods">
			<h4>全部商品<span>11</span></h4>
			<div class="cart-main">
				<div class="yui3-g cart-th">
					<div class="yui3-u-1-4">
						<input type="checkbox" name="" id="" value="" /> 全部
					</div>
					<div class="yui3-u-1-4">商品</div>
					<div class="yui3-u-1-8">单价（元）</div>
					<div class="yui3-u-1-8">数量</div>
					<div class="yui3-u-1-8">小计（元）</div>
					<div class="yui3-u-1-8">操作</div>
				</div>
				<div class="cart-item-list">
					<div class="cart-shop">
						<!-- <input type="checkbox" name="" id="" value="" /> -->
						<span class="shopname self">传智自营</span>
					</div>
					<div class="cart-body">

						{foreach $data as $k=>$v}
						<!-- 选中background: #fff4e8; -->
						<div class="cart-list" style="{if($k==0)}background:#fff4e8;{/if}">
							<input type="hidden" value="{$v['id']}">
							<ul class="goods-list yui3-g">
								<li class="yui3-u-1-24">
									<input type="checkbox" {if($k==0)} checked {/if} name="" id="" value="" />
								</li>
								<li class="yui3-u-11-24">
									<div class="good-item">
										<div class="item-img"><img src="{$v['goods_image']}" /></div>
										<div class="item-msg">{$v['goods_name']}<br>{$sku[$k]}</div>
									</div>
								</li>

								<li class="yui3-u-1-8">￥<span class="price" style="font-size:12px;color:#333;">{$v['price']}</span></li>
								<li class="yui3-u-1-8">
									<a href="javascript:void(0)" class="increment mins">-</a>
									<input autocomplete="off" type="text" value="{$v['count']}" minnum="1" class="itxt" style="height:22px;" />
									<a href="javascript:void(0)" class="increment plus">+</a>
									{if($v['count'] < $stock[$k][0]['stock'])} <div style="height: 28px;line-height: 28px;width: 100px;text-align: center;color: #aaa;">有货
						</div>
						{/if}
						</li>
						<li class="yui3-u-1-8">￥<span class="sum" style="font-size:12px;font-weight:700;color:#333;">
								<?=(double)$v['price']*$v['count']?>.00</span></li>
						<li class="yui3-u-1-8">
							<a class="delete" href="javaScript:;">删除</a><br />
							<a href="/homeUser/Collect">移到我的关注</a>
						</li>
						</ul>
					</div>
					{/foreach}
				</div>
			</div>
		</div>
		<div class="cart-tool">
			<!-- <div class="select-all">
					<input type="checkbox" name="" id="" value="" />
					<span>全选</span>
				</div>
				<div class="option">
					<a href="#none">删除选中的商品</a>
					<a href="/homeUser/Collect">移到我的关注</a>
					<a href="#none">清除下柜商品</a>
				</div> -->
			<div class="toolbar">
				<div class="chosed">已选择<span>0</span>件商品</div>
				<div class="sumprice">
					<span>
						<em>总价 ：</em>
						¥<i class="summoney">0.00</i>
					</span>
					<!-- <span><em>已节省：</em><i>-¥20.00</i></span> -->
				</div>
				<div class="sumbtn">
					{if(session('?home_id'))}
					<a class="sum-btn" id="settlement" href="javaScript:;">结算</a>
					{else /}
					<a class="sum-btn" href="/homeLogin/index">结算</a>
					{/if}
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		{else /}
		<div class="w">
			<div id="chunjie" class="mb10"></div>
			<input type="hidden" id="isLogin" value="0">
			<input id="hidebx" type="hidden" value="0">
			<div class="cart-empty">
				<div class="message">
					{if(session('?home_id'))}
					<ul>
						<li class="txt">
							购物车内暂时没有商品，登录后将显示您之前加入的商品
						</li>
						<li>
							<a href="/homeIndex/index" class="ftx-05">
								去购物&gt;
							</a>
						</li>
					</ul>
					{else /}
					<ul>
						<li class="txt">
							购物车内暂时没有商品，登录后将显示您之前加入的商品
						</li>
						<li>
							<a href="/homeLogin/index" class="btn-1 login-btn mr10">登录</a>
							<a href="/homeIndex/index" class="ftx-05">
								去购物&gt;
							</a>
						</li>
					</ul>
					{/if}
				</div>
			</div>
		</div>
		{/if}
		<!-- <div class="deled">
				<span>已删除商品，您可以重新购买或加关注：</span>
				<div class="cart-list del">
					<ul class="goods-list yui3-g">
						<li class="yui3-u-1-2">
							<div class="good-item">
								<div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
							</div>
						</li>
						<li class="yui3-u-1-6"><span class="price">8848.00</span></li>
						<li class="yui3-u-1-6">
							<span class="number">1</span>
						</li>
						<li class="yui3-u-1-8">
							<a href="/homeIndex/index">重新购买</a>
							<a href="/homeUser/Collect">移到我的关注</a>
						</li>
					</ul>
				</div>
			</div> -->
		<div class="liked">
			<ul class="sui-nav nav-tabs">
				<li class="active">
					<a href="#index" data-toggle="tab">猜你喜欢</a>
				</li>
				<li>
					<a href="#profile" data-toggle="tab">特惠换购</a>
				</li>
			</ul>
			<div class="clearfix"></div>
			<div class="tab-content">
				<div id="index" class="tab-pane active">
					<div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul>
									<li>
										<img src="/static/img/like1.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="/homeCart/SuccessCart" class="sui-btn btn-bordered btn-xlarge btn-default">
												<i class="car"></i>
												<span class="cartxt">加入购物车</span>
											</a>
										</div>
									</li>
									<li>
										<img src="/static/img/like2.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="/homeCart/SuccessCart" class="sui-btn btn-bordered btn-xlarge btn-default">
												<i class="car"></i>
												<span class="cartxt">加入购物车</span>
											</a>
										</div>
									</li>
									<li>
										<img src="/static/img/like3.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="/homeCart/SuccessCart" class="sui-btn btn-bordered btn-xlarge btn-default">
												<i class="car"></i>
												<span class="cartxt">加入购物车</span>
											</a>
										</div>
									</li>
									<li>
										<img src="/static/img/like4.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="/homeCart/SuccessCart" class="sui-btn btn-bordered btn-xlarge btn-default">
												<i class="car"></i>
												<span class="cartxt">加入购物车</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li>
										<img src="/static/img/like1.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="/homeCart/SuccessCart" class="sui-btn btn-bordered btn-xlarge btn-default">
												<i class="car"></i>
												<span class="cartxt">加入购物车</span>
											</a>
										</div>
									</li>
									<li>
										<img src="/static/img/like2.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="/homeCart/SuccessCart" class="sui-btn btn-bordered btn-xlarge btn-default">
												<i class="car"></i>
												<span class="cartxt">加入购物车</span>
											</a>
										</div>
									</li>
									<li>
										<img src="/static/img/like3.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="/homeCart/SuccessCart" class="sui-btn btn-bordered btn-xlarge btn-default">
												<i class="car"></i>
												<span class="cartxt">加入购物车</span>
											</a>
										</div>
									</li>
									<li>
										<img src="/static/img/like4.png" />
										<div class="intro">
											<i>Apple苹果iPhone 6s (A1699)</i>
										</div>
										<div class="money">
											<span>$29.00</span>
										</div>
										<div class="incar">
											<a href="/homeCart/SuccessCart" class="sui-btn btn-bordered btn-xlarge btn-default">
												<i class="car"></i>
												<span class="cartxt">加入购物车</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a>
						<a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
					</div>
				</div>
				<div id="profile" class="tab-pane">
					<p>特惠选购</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- 底部栏位 -->
	<!--页面底部-->
	<div class="clearfix footer">
		<div class="py-container">
			<div class="footlink">
				<div class="Mod-service">
					<ul class="Mod-Service-list">
						<li class="grid-service-item intro  intro1">

							<i class="serivce-item fl"></i>
							<div class="service-text">
								<h4>正品保障</h4>
								<p>正品保障，提供发票</p>
							</div>

						</li>
						<li class="grid-service-item  intro intro2">

							<i class="serivce-item fl"></i>
							<div class="service-text">
								<h4>正品保障</h4>
								<p>正品保障，提供发票</p>
							</div>

						</li>
						<li class="grid-service-item intro  intro3">

							<i class="serivce-item fl"></i>
							<div class="service-text">
								<h4>正品保障</h4>
								<p>正品保障，提供发票</p>
							</div>

						</li>
						<li class="grid-service-item  intro intro4">

							<i class="serivce-item fl"></i>
							<div class="service-text">
								<h4>正品保障</h4>
								<p>正品保障，提供发票</p>
							</div>

						</li>
						<li class="grid-service-item intro intro5">

							<i class="serivce-item fl"></i>
							<div class="service-text">
								<h4>正品保障</h4>
								<p>正品保障，提供发票</p>
							</div>

						</li>
					</ul>
				</div>
				<div class="clearfix Mod-list">
					<div class="yui3-g">
						<div class="yui3-u-1-6">
							<h4>购物指南</h4>
							<ul class="unstyled">
								<li>购物流程</li>
								<li>会员介绍</li>
								<li>生活旅行/团购</li>
								<li>常见问题</li>
								<li>购物指南</li>
							</ul>

						</div>
						<div class="yui3-u-1-6">
							<h4>配送方式</h4>
							<ul class="unstyled">
								<li>上门自提</li>
								<li>211限时达</li>
								<li>配送服务查询</li>
								<li>配送费收取标准</li>
								<li>海外配送</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>支付方式</h4>
							<ul class="unstyled">
								<li>货到付款</li>
								<li>在线支付</li>
								<li>分期付款</li>
								<li>邮局汇款</li>
								<li>公司转账</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>售后服务</h4>
							<ul class="unstyled">
								<li>售后政策</li>
								<li>价格保护</li>
								<li>退款说明</li>
								<li>返修/退换货</li>
								<li>取消订单</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>特色服务</h4>
							<ul class="unstyled">
								<li>夺宝岛</li>
								<li>DIY装机</li>
								<li>延保服务</li>
								<li>品优购E卡</li>
								<li>品优购通信</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>帮助中心</h4>
							<img src="/static/img/wx_cz.jpg">
						</div>
					</div>
				</div>
				<div class="Mod-copyright">
					<ul class="helpLink">
						<li>关于我们<span class="space"></span></li>
						<li>联系我们<span class="space"></span></li>
						<li>关于我们<span class="space"></span></li>
						<li>商家入驻<span class="space"></span></li>
						<li>营销中心<span class="space"></span></li>
						<li>友情链接<span class="space"></span></li>
						<li>关于我们<span class="space"></span></li>
						<li>营销中心<span class="space"></span></li>
						<li>友情链接<span class="space"></span></li>
						<li>关于我们</li>
					</ul>
					<p>地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100</p>
					<p>京ICP备08001421号京公网安备110108007702</p>
				</div>
			</div>
		</div>
	</div>
	<!--页面底部END-->

	<script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/plugins/jquery.easing/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/static/js/plugins/sui/sui.min.js"></script>
	<script type="text/javascript" src="/static/js/widget/nav.js"></script>
</body>

</html>
<script>
	$(function () {
		cart();
	});
	var num = $('.itxt').val();
	//  获取输入框中的值
	$('.itxt').change(function () {
		if ($(this).val() > 100) {
			$(this).val(num)
			layer.alert('商品数量不能大于100', {
				title: '提示框',
				icon: 0
			});
		}
		else {
			//  勾选多选框
			($(this).parents('ul').find(':first').children()).attr('checked', 'checked');
			$(this).val($(this).val());
			//  给当前dom对象添加样式
			($(this).parents('.cart-list')).attr('style', 'background:#fff4e8;');
			//  当前购物车id
			//  获取父元素的第一个子元素
			//  $(this).parents('.cart-list').children(':first')  ||  $($(this).parents('.cart-list').children('input').get(0))
			var id = $($(this).parents('.cart-list').children('input').get(0)).val();
			var count = $(this).val();
			//  更新价格
			var price = $(this).parent().prev().children().text();
			($(this).parent().next().children()).text(parseFloat(count) * price);
			cart();
			//  发送ajax 更新数据库数据
			$.ajax({
				url: '/homeCart/CartCount?goods_id=' + id + '&count=' + count,
				type: "GET",
				dataType: 'json',
				success: function (data) { }
			});
		}
	});

	//  点击加号
	$('.plus').click(function () {
		var id = ($(this).parents('.cart-list').children(':first')).val();
		var count = ($(this).prev('.itxt')).val();
		if (count >= 100) {
			$(this).prev('.itxt').val(parseFloat(count));
			layer.alert('商品数量不能大于100', {
				title: '提示框',
				icon: 0
			});
		}
		else {
			($(this).parents('ul').find(':first').children()).attr('checked', 'checked');
			count++;
			$(this).prev('.itxt').val(parseFloat(count));
			$(this).parents('.cart-list').attr('style', 'background:#fff4e8;');
			var price = $(this).parent().prev().children().text();
			($(this).parent().next().children()).text(parseFloat(count) * price);
			cart();
			$.ajax({
				url: '/homeCart/CartCount?goods_id=' + id + '&count=' + count,
				type: "GET",
				dataType: 'json',
				success: function (data) { }
			});
		}
	});

	//  点击减号
	$('.mins').click(function () {
		var id = ($(this).parents('.cart-list').children(':first')).val();
		var count = ($(this).next('.itxt')).val();
		if (parseFloat(count) > 1) {
			($(this).parents('ul').find(':first').children()).attr('checked', 'checked');
			count--;
			$(this).next('.itxt').val(parseFloat(count));
			$(this).parents('.cart-list').attr('style', 'background:#fff4e8;');
			var price = $(this).parent().prev().children().text();
			($(this).parent().next().children()).text(parseFloat(count) * price);
			cart();
			if (count == 1) {
				$(this).attr('disabled', true);
				$(this).css({ "pointer-events": "none", "color": "#e9e9e9" });
			}
			$.ajax({
				url: '/homeCart/CartCount?goods_id=' + id + '&count=' + count,
				type: "GET",
				dataType: 'json',
				success: function (data) { }
			});
		}
	});
	//  点击按钮，添加样式
	$($('.cart-list').find('li:first').children()).click(function () {
		if (!$(this).prop('checked')) {
			//  移除全选按钮
			$('.cart-th').find('input');
			$('.cart-th').find('input').prop('checked', false);
		}
		//  最后一个按钮，之后全选
		var checkbox = $('.cart-th').next().find('.cart-body').children('.cart-list').find('li:first');
		var count = 0;
		$(checkbox).children(':checked').each(function (index) {
			count = (index + 1);
		});
		if (count == checkbox.length) {
			$('.cart-th').find('input').prop('checked', true);
		}
		if ($(this).parents('.cart-list').attr('style') == 'background:#fff4e8;') {
			//  移除属性
			$(this).parents('.cart-list').removeAttr('style');
			$(this).parents('.cart-list').attr('style', 'margin-bottom: 10px;')
			cart();
		}
		else {
			$(this).parents('.cart-list').attr('style', 'background:#fff4e8;');
			cart();
		}
	});
	function cart() {
		var count = 0;
		var sum = 0;
		//  计算勾选的商品数量，和总价
		$($('.cart-list').find('li:first').children(':checked')).each(function (index) {
			var input = $(this).parents('ul').find('input')[1];
			count += parseFloat($(input).val());
			sum += parseFloat($(this).parent().next().next().next().next().children().text());
		});
		$('.sumprice').find('i').text(sum);
		$('.chosed').find('span').text(count);
	}
	//  删除购物车中的商品
	$('.delete').click(function () {
		if (confirm('确定删除该商品么？')) {
			var id = $(this).parents('ul').prev().val();
			$(this).parents('.cart-list').remove();
			$.ajax({
				url: '/homeCart/DeleteCart?id=' + id,
				type: 'GET',
				dataType: 'json',
				success: function () { }
			});
		}
	});
	//  全选
	$('.cart-th').find('input').click(function () {
		//  判断当前是否在全选状态
		var checkbox = $('.cart-th').next().find('.cart-body').children('.cart-list').find('li:first');
		var count = 0;
		$(checkbox).children(':checked').each(function (index) {
			count = (index + 1);
		});
		if (parseFloat(count) < parseFloat(checkbox.length)) {
			$(this).prop('checked', true);
			$('.cart-th').next().find('.cart-body').children('.cart-list').attr('style', 'background:#fff4e8;');
			$(checkbox).children().prop('checked', true);
			cart();
		}
		else {
			$(checkbox).children().prop('checked', false);
			$('.cart-th').next().find('.cart-body').children('.cart-list').attr('style', 'margin-bottom:10px;');
			cart();
		}
	});

	//   结算  /homeCart/settlement
	$('#settlement').click(function () {
		var count = 0;
		var i = [];
		//  选中
		$('.cart-list').find('li:first').children().each(function (index) {
			if ($(this).prop('checked')) {
				count++;
				i[index] = index;
			}
		});
		if (count == 0) {
			layer.alert('请选择商品~', {
				title: '提示框',
				icon: 0
			});
		}
		else {
			var id = [];
			$('.cart-list').find('li:first').children().each(function (index) {
				if (i[index] == index) {
					//  商品的数量，购物车中的id
					id.push($(this).parents('ul').prev().val());
				}
			});
			$.ajax({
				url: '/homeCart/CartSettlement',
				type: 'post',
				data: { 'id': id },
				dataType: 'json',
				success: function (data) {
					location.href = '/homeCart/settlement';
				}
			});
		}
	});
</script>