<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/assets/css/ace.min.css" />
  <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />
  <link href="/static/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
  <!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
  <!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="/static/assets/js/bootstrap.min.js"></script>
  <title>添加产品分类</title>
</head>

<body>
  <div class="type_style">
    <div class="type_title">产品分类信息</div>
    <div class="type_content">
      <!-- <div class="Operate_btn">
        <a href="javascript:ovid()" class="btn  btn-warning"><i class="icon-edit align-top bigger-125"></i>新增子类型</a>
        <a href="javascript:ovid()" class="btn  btn-success"><i class="icon-ok align-top bigger-125"></i>禁用该类型</a>
        <a href="javascript:ovid()" class="btn  btn-danger"><i class="icon-trash   align-top bigger-125"></i>删除该类型</a>
      </div> -->
      <form action="/product/CategoryAdd" method="post" class="form form-horizontal" id="form-user-add">
        {:token('__token__', 'sha1')}
        <div class="Operate_cont clearfix">
          <label class="form-label"><span class="c-red">*</span>分类：</label>
          <div class="formControls" style="margin-left: 20px;width: 300px;">
            <select name="cat1_id" id="">
              <option value="">请选择</option>
              {foreach $cat1_id as $v}
                <option value="{$v['id']}">{$v['cate_name']}</option>
              {/foreach}
            </select>
          </div>
        </div>
        <div class="Operate_cont clearfix">
          <label class="form-label"><span class="c-red">*</span>分类名称：</label>
          <div class="formControls ">
            <input type="text" class="input-text" value="" placeholder="" id="user-name" name="category_name">
          </div>
        </div>
        <div class="">
          <div class="" style=" text-align:center">
            <input class="btn btn-primary radius" type="submit" value="提交">
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="/static/Widget/icheck/jquery.icheck.min.js"></script>
  <script type="text/javascript" src="/static/Widget/Validform/5.3.2/Validform.min.js"></script>
  <script type="text/javascript" src="/static/assets/layer/layer.js"></script>
  <script type="text/javascript" src="/static/js/H-ui.js"></script>
  <script type="text/javascript" src="/static/js/H-ui.admin.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
      });

      $("#form-user-add").Validform({
        tiptype: 2,
        callback: function (form) {
          form[0].submit();
          var index = parent.layer.getFrameIndex(window.name);
          parent.$('.btn-refresh').click();
          parent.layer.close(index);
        }
      });
    });

    $('select[name=cat1_id]').change(function(){
      var html = '';
      $('select[name=cat2_id]').remove();
      //  获取到下拉框的值
      var value = $(this).val();
      if(value == "")
      {
        $('select[name=cat2_id]').remove();
        return ;
      }
      //  根据获取到的id，查找二级分类
      html += '<select name="cat2_id" id=""><option value="">请选择</option>';
        $.ajax({
          url:'/product/Cat2_id?id='+value,
          type:'get',
          async:false,
          dataType:'json',
          success:function(data)
          {
            for(var i=0;i<data['data'].length;i++)
            {
              html += '<option value="'+data['data'][i].id+'">'+data['data'][i].cate_name+'</option>';
            }
          }
        });
      html += '</select>';
      $(this).after(html);
    });

  </script>
</body>

</html>